* {
  margin: 0;
  padding: 0;
}



#root {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}